<div class="recent-activity-container">
    <p>Recent Blogs</p>
    <ul>
        <li><a>Recent Blog 1</a></li>
        <li><a>Recent Blog 2</a></li>
        <li><a>Recent Blog 3</a></li>
        <li><a>Recent Blog 4</a></li>
        <li><a>Recent Blog 5</a></li>
    </ul>
    <p>Recent Bible Studies</p>
    <ul>
        <li><a>Recent Bible Study 1</a></li>
        <li><a>Recent Bible Study 2</a></li>
        <li><a>Recent Bible Study 3</a></li>
        <li><a>Recent Bible Study 4</a></li>
        <li><a>Recent Bible Study 5</a></li>
    </ul>
</div>
