.recent-activity-container {
    overflow-x: hidden;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    color: grey;
    z-index: 1;
}

.recent-activity-container ul {
    list-style-type: none;
}

.recent-activity-container li a {
    color: grey;
    text-decoration: none;
}

.recent-activity-container li a:hover {
    cursor: pointer;
    color:white;
    text-decoration: none;
}